{% extends 'auth/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="clo-12">
            <div class="alert alert-info">Enjoy the chinchillas! :></div>

            {% if user.is_authenticated %} 
            
                Hi {{ user.full_name }}, look at the Chinchillas!

                <img src="{% static 'chinchillas.jpg' %}" alt="Chins">

                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>

            {% else %}

                You are not logged in!
                <br>
                <a href="{% url 'login' %}" class="btn btn-primary mt-3">
                    Log In
                </a>
                <a href="{% url 'signup' %}" class="btn btn-primary mt-3">
                    SignUp
                </a>

            {% endif %}
        </div>
    </div>
</div>

{% endblock body %}
