{% extends 'auth/base.html' %}
{% load static %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="clo-12">
            <div class="alert alert-info">Enjoy the chinchillas! :></div>

            {% if user.is_authenticated %} 
            
                Hi {{ user.full_name }}, look at the Chinchillas!

                <div style="display: flex; margin: 0 auto;">
                    <img src="https://images-chinchilla-site.s3.amazonaws.com/chins.jpg" alt="Chinchilla Image" style="height: 300px; width: auto; object-fit: contain; ">
                    <img src="https://images-chinchilla-site.s3.amazonaws.com/shadow.jpg" alt="Chinchilla Image" style="height: 300px; width: auto; object-fit: contain; ">
                    <img src="https://images-chinchilla-site.s3.amazonaws.com/sleepychin.jpg" alt="Chinchilla Image" style="height: 300px; width: auto; object-fit: contain; ">
                    <img src="https://images-chinchilla-site.s3.amazonaws.com/supersleepy.jpg" alt="Chinchilla Image" style="height: 300px; width: auto; object-fit: contain; ">
                </div>
               



                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>

            {% else %}

                You are not logged in!
                You must be logged in to see these exclusive Chinchillas.
                If you don't have an account, please sign up below.
                <h2>&#128513;</h2> 
                <br>
                <a href="{% url 'login' %}" class="btn btn-primary mt-3">
                    Log In
                </a>
                <a href="{% url 'signup' %}" class="btn btn-primary mt-3">
                    SignUp
                </a>

            {% endif %}
        </div>
    </div>
</div>

{% endblock body %}
